<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메인 페이지</h2>
    <p>로그인 성공! 세션 id : <%=sessionId %></p>

    <form action="/logout" method="get">
        <button type="submit">로그아웃</button>
    </form>
</body>
</html>